<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Kolokwium</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app" >

        <div v-for="i in rows" class="contain"> 
            <div v-for="j in columns" :class="[active == '1,1' && j == i == 1 ? 'cell active' : 'cell']"> 
                1             
            </div>
        </div>

        {{active}}
    {{ message }}
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
            rows: 10,
            columns: 10,
            active: "1,1",
        }
    })
    </script>
</body>
</html>
