<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
    {{ message }}
        <div class="cell">1</div>
        <ul class="kwadrat" v-for="iloscRows in rows">
            <li v-for="iloscColumns in columns">
                <div class="cell">1</div>
            </li>
        </ul>
        
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia'
            rows: 10,
            columns: 10,
        }
    })
    </script>
</body>
</html>
